<!-- breadcrumbs -->
<div class="container">
    <div class="breadcrumbs">
        <a href="#"><i class="las la-home"></i></a>
        <a href="#" class="active">Login</a>
    </div>
</div>
<!--Login wrap-->
<div class="register_wrap section_padding_b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-9">
                <div class="register_form padding_default shadow_sm">
                    <h4 class="title_2">Login</h4>
                    <p class="mb-4 text_md">Inicia sesion si eres un cliente</p>
                    <form action="">
                        <div class="row">
                            <div class="col-12">
                                <div class="single_billing_inp">
                                    <label>nombre de usuario <span>*</span></label> <!--esta opcion de ngModelOptions fue sugerida por la consola del navegador o poniendo el name-->
                                    <input type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario" placeholder="ingresa tu nombre de usuario">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single_billing_inp">
                                    <label>clave <span>*</span></label>
                                    <input type="password" [(ngModel)]="clave" name="clave" placeholder="ingresa tu clave">
                                </div>
                            </div>
                            <div class="col-12 mt-2 d-flex justify-content-between align-items-center">
                                <div class="custom_check check_2 d-flex align-items-center">
                                    <input type="checkbox" class="check_inp" hidden id="save-default">
                                    <label for="save-default">Recordando me</label>
                                </div>

                                <a href="forgot-password.html" class="text-color">Olvidates tu Clave?</a>
                            </div>
                            <div class="col-12 mt-3">
                                <button type="submit" (click)="login()" class="default_btn xs_btn rounded px-4 d-block w-100">Login</button>
                            </div>

                        </div>
                    </form>

                    <div class="dif_regway my-3">
                        <span class="txt">Or login in with</span>
                    </div>

                    <div class="d-flex">
                        <button class="default_btn xs_btn rounded px-4 d-block w-50 text-capitalize bg-facebook">
                            <i class="fab fa-facebook-f me-2"></i> Facebook
                        </button>
                        <button class="default_btn xs_btn rounded px-4 d-block w-50 ms-3 text-capitalize bg-google">
                            <i class="fab fa-google me-2"></i> Google
                        </button>
                    </div>

                    <p class="text-center mt-3 mb-0">Don't have an account.? <a href="register.html" class="text-color">Register Now</a></p>

                </div>
            </div>
        </div>
    </div>
</div>